.minimovie-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background: #eef2ff;
    border: 1px solid #dbe3ff;
}

.minimovie-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}


.minimovie-card-header {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    flex: 1;
}

.minimovie-title-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
}

.year,
.gener {
    font-size: 0.95rem;
    font-weight: 500;
    color: #9ca3af;
}

.minimovie-info-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.35rem 0.8rem;
    border-radius: 20px;
    background: #ffb703;
    color: #111827;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

.minimovie-tag {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 20px;
    color: #4b5563;
    font-size: .85rem;
    font-weight: 500;
    border: 1px solid #e5e7eb;
    transition: 0.2s ease;
    cursor: pointer;
}

.minimovie-tag:hover {
    background: #ffb703;
    color: white;
}

.right button {
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    border-radius: 12px;
    font-size: .95rem;
    font-weight: 700;
    transition: all 0.25s ease;
}

.right .favorited {
    background: #ffb703;
    color: #fff;
}

.right button:hover {
    transform: scale(1.03);
    background: #ffb703;
    color: #fff;
}


.first-tag {
    background: white;
    color: #111827
}

@media (max-width:768px) {
    .minimovie-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    /* .right,
    .right button {
        width: 100%;
    } */

    .title {
        font-size: 1.25rem;
    }
}

.clickable {
    cursor: pointer;
    transition: 0.2s ease;
    font-size: small;
}

.clickable:hover {
    transform: scale(1.05);
    opacity: 0.85;
}

.dark .right button:hover {
    transform: scale(1.03);
    background: #ffb703;
    color: #fff;
}

.dark .right .favorited {
    background: #ffb703;
    color: #fff;
}