.card-container {
    position: relative;
    width: fit-content;
    margin: 50px auto;
    text-align: end;
}

.portfolio-card {
    max-width: 600px;
    min-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-align: left;
    padding: 1.5rem;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}


.dark {
    background: #1e1e1e;
    color: white !important;
}

.dark .bio,
.dark .name-container h1,
.dark .skill-main h3,
.dark .designation,
.dark .skill-tag {
    color: white !important;
}

.dark .portfolio-card-footer button {
    background: #fff;
    margin: 1rem .5rem;
}

.dark .skill-tag {
    background: #333;
}

.dark .theme-btn {
    background: #333;
    color: white;
}


.theme-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    background: white;
    color: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.theme-btn:hover {
    transform: translateY(-2px);
}