.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-container h3 {
    margin-bottom: 0.5rem;
}

.skill-tag {

    background: #e6eef8;
    color: #5b6471;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.skill-tag:hover {
    background-color: #bbbb;
    color: #222;
    transform: translate(-2px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.portfolio-card:hover {
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.skill-main {
    margin: 0.5rem;
    font-size: .95rem;
    color: #9b9999;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 0.5rem;

}

.skill-main h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

}